USE [master]
GO
/****** Object:  Database [PRINCS_DB]    Script Date: 29/05/2019 01:17:34 p. m. ******/
CREATE DATABASE [PRINCS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRINCS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRINCS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRINCS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRINCS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRINCS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRINCS_DB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/05/2019 01:17:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_Empleado] [varchar](5) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[Tipo_Permiso] [varchar](20) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [varchar](5) NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[ID_Lote] [varchar](5) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[capacidad] [varchar](50) NOT NULL,
	[lugar] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mercancia]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mercancia](
	[ID_Mercancia] [varchar](5) NOT NULL,
	[ID_CLIENTE] [varchar](5) NULL,
	[ID_Tipo] [varchar](5) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](50) NOT NULL,
	[N_Piezas] [int] NOT NULL,
	[RESERVA_IN] [varchar](5) NOT NULL,
	[RESERVA_OUT] [varchar](5) NOT NULL,
	[valor] [int] NOT NULL,
	[moneda] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Mercancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ID_Reserva] [varchar](5) NOT NULL,
	[ID_Mercancia] [varchar](5) NOT NULL,
	[tipo_Acta] [varchar](20) NOT NULL,
	[ID_Cliente] [varchar](5) NOT NULL,
	[ID_Empleado] [varchar](5) NOT NULL,
	[fecha] [date] NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[ID_Transportadora] [varchar](5) NOT NULL,
	[N_Piezas] [int] NOT NULL,
	[ID_Lote] [varchar](5) NOT NULL,
	[Estiba] [varchar](5) NOT NULL,
	[Nombre_Conductor] [varchar](50) NOT NULL,
	[cedula_Conductor] [varchar](50) NOT NULL,
	[documentos] [varchar](50) NULL,
	[peso] [float] NOT NULL,
	[valor] [int] NOT NULL,
	[ID_Embalaje] [int] NOT NULL,
	[etiquetas] [varchar](40) NOT NULL,
	[reg_Fotografico] [varchar](50) NOT NULL,
	[ID_Estado] [varchar](5) NOT NULL,
	[observaciones] [varchar](255) NULL,
	[firma] [varchar](30) NOT NULL,
	[Entrega_NOM] [varchar](50) NOT NULL,
	[cc_entrega] [varchar](50) NOT NULL,
	[moneda] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[ID_Tipo] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportadora]    Script Date: 29/05/2019 01:17:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportadora](
	[ID_Transportadora] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Transportadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre], [Correo], [Telefono]) VALUES (N'C1', N'OMA', N'OMA@GMAIL.COM', N'7354452')
INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre], [Correo], [Telefono]) VALUES (N'C10', N'CARIBBEAN EXOTICS', N'CARIBBEAN_EXOTICS@GMAIL.COM', N'7317456')
INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre], [Correo], [Telefono]) VALUES (N'C11', N'SETAS COLOMBIA NAS', N'SETAS_COLOMBIA_NAS@GMAIL.COM', N'7462222')
INSERT [dbo].[Empleado] ([ID_Empleado], [nombre], [correo], [Tipo_Permiso], [Usuario], [contraseña]) VALUES (N'E1', N'MARIANA VALENTINA HERRERA', N'MAVAHE@GMAIL.COM', N'ADMIN', N'MAVAHE', N'12345')
INSERT [dbo].[Empleado] ([ID_Empleado], [nombre], [correo], [Tipo_Permiso], [Usuario], [contraseña]) VALUES (N'E2', N'DAVID ESTEBAN SAAVEDRA BARRERA', N'DASABA@GMAIL.COM', N'ADMIN', N'DASABA', N'ABCDE')
INSERT [dbo].[Empleado] ([ID_Empleado], [nombre], [correo], [Tipo_Permiso], [Usuario], [contraseña]) VALUES (N'E3', N'ANDRES VILLARREAL', N'ANDRESVI@GMAIL.COM', N'OPERARIO', N'ANDRESVI', N'ANDRES1999')
INSERT [dbo].[Estado] ([ID_Estado], [estado]) VALUES (N'ES1', N'POR LLEGAR')
INSERT [dbo].[Estado] ([ID_Estado], [estado]) VALUES (N'ES2', N'EN BODEGA')
INSERT [dbo].[Estado] ([ID_Estado], [estado]) VALUES (N'ES3', N'ENVIADO')
INSERT [dbo].[Lote] ([ID_Lote], [nombre], [capacidad], [lugar]) VALUES (N'L1', N'BODEGA 1', N'100', N'PUERTA DEL SOL')
INSERT [dbo].[Lote] ([ID_Lote], [nombre], [capacidad], [lugar]) VALUES (N'L2', N'BODEGA 2', N'100', N'INTEXONA')
INSERT [dbo].[Mercancia] ([ID_Mercancia], [ID_CLIENTE], [ID_Tipo], [estado], [observaciones], [N_Piezas], [RESERVA_IN], [RESERVA_OUT], [valor], [moneda]) VALUES (N'M001', N'C1', N'T1', N'ES1', N'10  observacion prueba', 53, N'R11', N'NULL', 101, N'COP')
INSERT [dbo].[Mercancia] ([ID_Mercancia], [ID_CLIENTE], [ID_Tipo], [estado], [observaciones], [N_Piezas], [RESERVA_IN], [RESERVA_OUT], [valor], [moneda]) VALUES (N'M002', N'C4', N'T1', N'ES1', N'SALIDA EL DIA 01/06/2019 EN LA TARDE', 100, N'NULL', N'NULL', 5000000, N'COP')
INSERT [dbo].[Mercancia] ([ID_Mercancia], [ID_CLIENTE], [ID_Tipo], [estado], [observaciones], [N_Piezas], [RESERVA_IN], [RESERVA_OUT], [valor], [moneda]) VALUES (N'M003', N'C10', N'T3', N'ES2', N'LLEGADA EL DIA 05/06/2019 EN LA TARDE', 70, N'R1', N'NULL', 15000000, N'COP')
INSERT [dbo].[Tipo] ([ID_Tipo], [Nombre]) VALUES (N'T1', N'CARGA_SECA')
INSERT [dbo].[Tipo] ([ID_Tipo], [Nombre]) VALUES (N'T2', N'PERECEDEROS')
INSERT [dbo].[Tipo] ([ID_Tipo], [Nombre]) VALUES (N'T3', N'CARGA FRAGIL')
INSERT [dbo].[Transportadora] ([ID_Transportadora], [Nombre]) VALUES (N'TR1', N'ENVIA')
INSERT [dbo].[Transportadora] ([ID_Transportadora], [Nombre]) VALUES (N'TR2', N'DEPRISA')
INSERT [dbo].[Transportadora] ([ID_Transportadora], [Nombre]) VALUES (N'TR3', N'INTER RAPIDISIMO')
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoMercancia]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[ActualizarEstadoMercancia]
 (@ID_Mercancia varchar(5),
  @ID_Estado varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS(select ID_Mercancia from Mercancia where ID_Mercancia = @ID_Mercancia) 
	begin 

		update Mercancia set estado = @ID_Estado where ID_Mercancia = @ID_Mercancia

		save transaction UpdateEstado
	end
ELSE
	BEGIN
	
		print 'No existe el ID especificado para actualizar el estado'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'Ha ocurrido un error al actualizar el estado de la Mercancia'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ActualizarMercancia]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[ActualizarMercancia]
 (@ID_Mercancia varchar(5),
  
  @ID_Tipo varchar(5),
  @estado varchar(20) ,
  @observaciones varchar(50) ,
  @N_Piezas int ,
    @valor int ,
  @moneda varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS(select ID_Mercancia from Mercancia where ID_Mercancia = @ID_Mercancia) 
	begin 

		update Mercancia set ID_Tipo=@ID_Tipo,estado=@estado,observaciones=@observaciones,N_Piezas=@N_Piezas,valor=@valor,moneda=@moneda where ID_Mercancia = @ID_Mercancia

		save transaction UpdateEstado
	end
ELSE
	BEGIN
	
		print 'No existe el ID especificado para actualizar el estado'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'Ha ocurrido un error al actualizar el estado de la Mercancia'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteCliente]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Cliente
CREATE PROCEDURE [dbo].[DeleteCliente]
 (@ID_Cliente varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS (select ID_Cliente from Cliente where ID_Cliente = @ID_Cliente)
	begin 
		
		delete from Cliente where ID_Cliente = @ID_Cliente

		save transaction DeletionCompleted
	end

 ELSE

	begin 
	
		print 'El ID que ha tratado de eliminar en la tabla Clientes no existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al eliminar en la tabla Cliente'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmpleado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[DeleteEmpleado]
 (@ID_Empleado varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS (select ID_Empleado from Empleado where ID_Empleado = @ID_Empleado)
	begin 
		delete from Empleado where @ID_Empleado = ID_Empleado

		save transaction DeletedComplited
	end
ELSE
	BEGIN
		
		print 'No se ha encontrado ningun registro con ese codigo en la tabla Empleado'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al elimnar en la tabla Empleado'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteEstado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[DeleteEstado]
 (@ID_Estado VARCHAR(5))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS(select  ID_Estado from Estado where ID_Estado = @ID_Estado)
	begin 

		delete from Estado where ID_Estado = @ID_Estado

	save transaction InsertComplited
	end
ELSE
	BEGIN

		print 'El ID en la tabla estado no existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al Eliminar en la tabla ESTADO'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteLote]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[DeleteLote]
 (@ID_Lote varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS(select ID_Lote from Lote where ID_Lote = @ID_Lote) 
	begin 

		delete from Lote where ID_Lote = @ID_Lote

		save transaction DeletionComplited
	end
ELSE
	BEGIN
	
		print 'El ID no se ha encontrado en la tabla lote'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al eliminar en la tabla lote'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteMercancia]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Mercancia

CREATE PROCEDURE [dbo].[DeleteMercancia]
 (@ID_Mercancia varchar(5))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF exists ( select  ID_Mercancia from Mercancia where ID_Mercancia = @ID_Mercancia)
	begin 
		
		delete from Mercancia where ID_Mercancia = @ID_Mercancia

		save transaction DeletionCompleted

	end
 ELSE

	begin 
		
		print 'El ID que ha intentado eliminar no se ha encontrado en la Tabla Mercancias'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al eliminar en la tabla Mercancia'

 END CATCH

GO
/****** Object:  StoredProcedure [dbo].[DeleteReserva]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--delete reserva

CREATE PROCEDURE [dbo].[DeleteReserva]
(@ID_Reserva varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 
 IF EXISTS ( select ID_Reserva from Reserva where ID_Reserva = @ID_Reserva)
	begin 
		
		delete from Reserva where @ID_Reserva = ID_Reserva

		
		save transaction DeletionCompleted

	end
 ELSE

	begin 
		
		print 'El ID no se ha encontrado en la tabla reserva'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al Eliminar en la tabla RESERVA'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteTipo]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Tipo

CREATE PROCEDURE [dbo].[DeleteTipo]
 (@ID_Tipo varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS (select ID_Tipo from Tipo where ID_Tipo = @ID_Tipo)
	begin 
		
		Delete from Tipo where ID_Tipo = @ID_Tipo

		save transaction DeleteCompleted

	end
 ELSE

	begin 
		
		print 'No se encontro el ID a eliminar'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al eliminar en la tabla Tipo'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[DeleteTransportadora]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Transportadora
CREATE PROCEDURE [dbo].[DeleteTransportadora]
 (@ID_Transportadora varchar(5))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 IF EXISTS ( select  ID_Transportadora from Transportadora where @ID_Transportadora = ID_Transportadora)
	begin 
		
		delete from Transportadora where @ID_Transportadora = ID_Transportadora

		save transaction DeleteCompleted

	end
 ELSE

	begin 
		
		print 'No se ha encontrado el codigo a eliminar en la tabla transportadora'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al Eliminar en la tabla Trasnportadora'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetCliente]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCliente] 
 @ID_Cliente vARCHAR(5)
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select ID_Cliente, nombre,correo, telefono 
		from Cliente where @ID_Cliente = ID_Cliente

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetClientes]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetClientes]
as begin 
select * from Cliente
end
GO
/****** Object:  StoredProcedure [dbo].[GetEmpleado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetEmpleado]
 @ID_Empleado varchar(5)
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select ID_Empleado, nombre, correo,  Tipo_Permiso, contraseña,  Usuario
		from Empleado where @ID_Empleado = ID_Empleado

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetEstado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetEstado]
 @ID_Estado varchar(5) 
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select ID_Estado, Estado from Estado where @ID_Estado = ID_Estado

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetEstados]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[GetEstados] 
 as begin 
 select * from Estado
 end
GO
/****** Object:  StoredProcedure [dbo].[GetLote]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetLote]
 @ID_Lote varchar(5)

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select nombre, capacidad, lugar, ID_Lote from Lote where @ID_Lote = ID_Lote

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetLotes]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------
create proc [dbo].[GetLotes]
as begin
select * from Lote
end
GO
/****** Object:  StoredProcedure [dbo].[GetMercancia]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetMercancia]
 @ID_Mercancia varchar(5)
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select Mercancia.ID_Mercancia,Cliente.Nombre,Tipo.Nombre,Estado.estado,observaciones,N_Piezas,RESERVA_IN,RESERVA_OUT,valor,moneda from Mercancia,Cliente,Tipo,Estado where Mercancia.ID_CLIENTE=Cliente.ID_Cliente and Mercancia.ID_Tipo=Tipo.ID_Tipo and Mercancia.estado=Estado.ID_Estado and @ID_Mercancia = ID_Mercancia

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetMercancias]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetMercancias] 
as begin 
select Mercancia.ID_Mercancia,Cliente.Nombre,Tipo.Nombre,Estado.estado,observaciones,N_Piezas,RESERVA_IN,RESERVA_OUT,valor,moneda from Mercancia,Cliente,Tipo,Estado where Mercancia.ID_CLIENTE=Cliente.ID_Cliente and Mercancia.ID_Tipo=Tipo.ID_Tipo and Mercancia.estado=Estado.ID_Estado
end
GO
/****** Object:  StoredProcedure [dbo].[GetMercanciasEstiba]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetMercanciasEstiba] 
as begin
select Mercancia.ID_Mercancia,Cliente.Nombre,Tipo.Nombre,Reserva.Estiba 
from Reserva,Cliente,Mercancia,Tipo where Mercancia.ID_Mercancia=Reserva.ID_Mercancia and
 Reserva.ID_Cliente=Cliente.ID_Cliente and Mercancia.ID_Tipo=Tipo.Id_Tipo and Reserva.tipo_Acta='INGRESO' 
 and Mercancia.RESERVA_IN != 'NULL' and Mercancia.RESERVA_OUT = 'NULL' order by 1

 end
GO
/****** Object:  StoredProcedure [dbo].[GetReserva]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetReserva]
 @ID_Reserva varchar(5) 
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select  ID_Mercancia,	tipo_Acta,  ID_Cliente,	 ID_Empleado,fecha,	placa, ID_Transportadora, N_Piezas,ID_Lote,Estiba,
  Nombre_Conductor, cedula_Conductor, documentos, peso,valor, ID_Embalaje,etiquetas, reg_Fotografico,
	 ID_Estado,	 observaciones, firma,Entrega_NOM, cc_entrega, moneda
		from Reserva where @ID_Reserva = ID_Reserva

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetReservaHistoria]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create procedure [dbo].[GetReservaHistoria]
as 
select Mercancia.ID_Mercancia,Cliente.Nombre,Tipo.Nombre,Reserva.tipo_Acta,Reserva.ID_Reserva,Reserva.fecha from Reserva,Cliente,Mercancia,Tipo where Mercancia.ID_Mercancia=Reserva.ID_Mercancia and Reserva.ID_Cliente=Cliente.ID_Cliente and Mercancia.ID_Tipo=Tipo.Id_Tipo  
GO
/****** Object:  StoredProcedure [dbo].[GetReservas]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetReservas]
as begin
select * from Reserva
end
GO
/****** Object:  StoredProcedure [dbo].[GetReservaTraducida]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create procedure [dbo].[GetReservaTraducida] (@ID varchar(5))
as
select Reserva.ID_Reserva,Mercancia.ID_Mercancia,Reserva.tipo_Acta,Cliente.Nombre,Empleado.nombre,Reserva.fecha,Reserva.placa,Transportadora.Nombre, Reserva.N_Piezas,Reserva.ID_Lote,Reserva.Estiba,Reserva.Nombre_Conductor,Reserva.cedula_Conductor,Reserva.documentos,Reserva.peso,Reserva.valor,Reserva.ID_Embalaje,Reserva.etiquetas,Reserva.reg_Fotografico,Estado.estado,Reserva.observaciones,Reserva.firma,Reserva.Entrega_NOM,Reserva.cc_entrega,Reserva.moneda,TIpo.Nombre from Reserva,Estado,Mercancia,Tipo,Cliente,Empleado,Transportadora where Mercancia.ID_Mercancia=Reserva.ID_Mercancia and Mercancia.ID_Tipo=Tipo.ID_Tipo and Reserva.ID_Cliente=Cliente.ID_Cliente and Reserva.ID_Empleado=Empleado.ID_Empleado and Reserva.ID_Transportadora=Transportadora.ID_Transportadora and Reserva.ID_Estado=Estado.ID_Estado and Reserva.ID_Reserva=@ID



GO
/****** Object:  StoredProcedure [dbo].[GetTipo]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetTipo]
 @ID_Tipo varchar(5) 

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select ID_Tipo, Nombre from Tipo where @ID_Tipo = ID_Tipo

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetTipos]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTipos]
as begin 
select * from Tipo
end
GO
/****** Object:  StoredProcedure [dbo].[GetTransportadora]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetTransportadora]
 @ID_Transportadora varchar(5)

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select ID_Transportadora, Nombre from Transportadora where @ID_Transportadora = ID_Transportadora

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetTransportadoras]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[GetTransportadoras] 
 as begin
 select  * from Transportadora
 end
GO
/****** Object:  StoredProcedure [dbo].[IdReserSig]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IdReserSig] 
as
declare @var varchar(2);
select @var = count(ID_Reserva)+1 from Reserva order by 1 desc
declare @string varchar(4);
set @string = 'R'+@var;
select top(2) @string from Mercancia
GO
/****** Object:  StoredProcedure [dbo].[IdSig]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IdSig] 
as
declare @var varchar(2);
select @var= count(ID_Mercancia)+1 from Mercancia order  by 1 desc
declare @string varchar(4);
set @string = 'M0'+@var;
select top(2) @string from Mercancia
GO
/****** Object:  StoredProcedure [dbo].[InsertCliente]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCliente]
 (@ID_Cliente varchar(5),
 @nombre varchar(50),
 @correo varchar(50),
 @telefono varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY



 IF NOT EXISTS (select ID_Cliente from Cliente where ID_Cliente = @ID_Cliente )
	begin 
		
		insert into Cliente(ID_Cliente, nombre, correo, telefono) 
				values(@ID_Cliente, @nombre, @correo, @telefono);

	
		save transaction InsertComplited

	end
 ELSE

	begin 
	
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Cliente'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertEmpleado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertEmpleado]
 (@ID_Empleado varchar(5),
 @Usuario varchar(50),
 @nombre varchar(50),
 @correo varchar(50),
 @tipo_permisos varchar(20),
 @contraseña varchar(20))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  select ID_Empleado = ID_Empleado from Empleado where ID_Empleado = @ID_Empleado

 IF NOT EXISTS (select ID_Empleado from Empleado where ID_Empleado = @ID_Empleado)
	begin 
		insert into Empleado (ID_Empleado, nombre, correo, Tipo_Permiso, Usuario, contraseña)
				values (@ID_Empleado, @nombre, @correo, @tipo_permisos, @Usuario, @contraseña)

		
		save transaction InsertComplited
	end
ELSE
	BEGIN
		
		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla Empleado'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertEstado]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertEstado]
 (@ID_Estado VARCHAR(5),
 @estado varchar(50))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  select @ID_Estado = ID_Estado from Estado where ID_Estado = @ID_Estado

 IF NOT EXISTS(select  ID_Estado from Estado where ID_Estado = @ID_Estado )
	begin 
		insert into Estado(ID_Estado, estado)
				values (@ID_Estado, @estado)


	save transaction InsertComplited
	end
ELSE
	BEGIN

		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla ESTADO'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertLote]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertLote]
 (@ID_Lote varchar(5),
 @nombre varchar(50),
 @capacidad varchar(50),
 @lugar varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  

 IF NOT EXISTS(select ID_Lote from Lote where ID_Lote = @ID_Lote) 
	begin 
		insert into Lote (ID_Lote, nombre, capacidad, lugar)
				values (@ID_Lote, @nombre, @capacidad, @lugar)

	
		save transaction InsertComplited
	end
ELSE
	BEGIN
	
		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla Empleado'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertMercancia]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMercancia]
 (@ID_Mercancia varchar(5),
 @ID_CLIENTE varchar(5),
 @ID_Tipo varchar(5),
 @estado varchar(20),
 @observaciones varchar(50),
 @N_Piezas int,
 @RESERVA_IN varchar(5),
 @RESERVA_OUT varchar(5),
 @valor int,
 @moneda varchar(50))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF not exists ( select  ID_Mercancia from Mercancia where ID_Mercancia = @ID_Mercancia)
	begin 
		
		insert into Mercancia values(@ID_Mercancia, @ID_CLIENTE, @ID_Tipo, @estado, @observaciones,
						@N_Piezas, @RESERVA_IN, @RESERVA_OUT, @valor, @moneda);

		
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Mercancia'

 END CATCH

GO
/****** Object:  StoredProcedure [dbo].[InsertReserva]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertReserva]
( @ID_Reserva varchar(5),
 @ID_Mercancia varchar(5),
 @tipo_Acta varchar(20),
 @ID_Cliente varchAR(5),
 @ID_Empleado varchar(5),
 @fecha date,
 @placa varchar(20),
 @ID_Transportadora varchar(5),
 @N_Piezas int,
 @ID_Lote varchar(5),
 @estiba varchar(5),
 @Nombre_Conductor varchar(50),
 @Cedula_Conductor varchar(50),
 @documentos varchar(50),
 @peso float,
 @valor int, 
 @ID_Embalaje int,
 @etiquetas varchar(40),
 @reg_Fotografico varchar(50),
 @ID_Estado varchar(5),
 @observaciones varchar(255),
 @firma varchar(30),
 @Entrega_NOM varchar(50),
 @cc_Entrega varchar(50),
 @moneda varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF NOT EXISTS ( select ID_Reserva from Reserva where ID_Reserva = @ID_Reserva)
	begin 
		
		insert into Reserva Values(@ID_Reserva,@ID_Mercancia,@tipo_Acta,@ID_Cliente,@ID_Empleado,@fecha,@placa,@ID_Transportadora,@N_Piezas,@ID_Lote,@estiba,@Nombre_Conductor,@Cedula_Conductor,@documentos,@peso,@valor,@ID_Embalaje,@etiquetas,@reg_Fotografico,@ID_Estado,@observaciones,@firma,@Entrega_NOM,@cc_Entrega,@moneda)

		
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla RESERVA'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertTipo]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTipo]
 (@ID_Tipo varchar(5),
 @Nombre varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 
 select @ID_Tipo = ID_Tipo from Tipo where ID_Tipo = @ID_Tipo

 IF NOT EXISTS (select ID_Tipo from Tipo where ID_Tipo = @ID_Tipo)
	begin 
		
		insert into Tipo(ID_Tipo, Nombre) 
					values(@ID_Tipo, @Nombre);

	
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Mercancia'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertTransportadora]    Script Date: 29/05/2019 01:17:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTransportadora]
 (@ID_Transportadora varchar(5),
 @Nombre varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF NOT EXISTS ( select  ID_Transportadora from Transportadora where @ID_Transportadora = ID_Transportadora)
	begin 
		
		insert into Transportadora(ID_Transportadora, Nombre) 
					values(@ID_Transportadora, @Nombre);


		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Trasnportadora'

 END CATCH
GO
USE [master]
GO
