USE [master]
GO
/****** Object:  Database [PRINCS_DB]    Script Date: 25/05/2019 11:04:03 a. m. ******/
CREATE DATABASE [PRINCS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRINCS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRINCS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRINCS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRINCS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRINCS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRINCS_DB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 25/05/2019 11:04:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_Empleado] [varchar](5) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[Tipo_Permiso] [varchar](20) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [varchar](5) NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[ID_Lote] [varchar](5) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[capacidad] [varchar](50) NOT NULL,
	[lugar] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mercancia]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mercancia](
	[ID_Mercancia] [varchar](5) NOT NULL,
	[ID_CLIENTE] [varchar](5) NULL,
	[ID_Tipo] [varchar](5) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](50) NOT NULL,
	[N_Piezas] [int] NOT NULL,
	[ID_Lote] [varchar](5) NOT NULL,
	[RESERVA_IN] [varchar](5) NOT NULL,
	[RESERVA_OUT] [varchar](5) NOT NULL,
	[valor] [int] NOT NULL,
	[moneda] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Mercancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ID_Reserva] [varchar](5) NOT NULL,
	[ID_Mercancia] [varchar](5) NOT NULL,
	[tipo_Acta] [varchar](20) NOT NULL,
	[ID_Cliente] [varchar](5) NOT NULL,
	[ID_Empleado] [varchar](5) NOT NULL,
	[fecha] [date] NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[ID_Transportadora] [varchar](5) NOT NULL,
	[N_Piezas] [int] NOT NULL,
	[Nombre_Conductor] [varchar](50) NOT NULL,
	[cedula_Conductor] [varchar](50) NOT NULL,
	[documentos] [varchar](50) NULL,
	[peso] [float] NOT NULL,
	[valor] [int] NOT NULL,
	[ID_Embalaje] [int] NOT NULL,
	[etiquetas] [varchar](40) NOT NULL,
	[reg_Fotografico] [varchar](50) NOT NULL,
	[ID_Estado] [varchar](5) NOT NULL,
	[observaciones] [varchar](255) NULL,
	[firma] [varchar](30) NOT NULL,
	[Entrega_NOM] [varchar](50) NOT NULL,
	[cc_entrega] [varchar](50) NOT NULL,
	[moneda] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[ID_Tipo] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportadora]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportadora](
	[ID_Transportadora] [varchar](5) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Transportadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetCliente]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCliente] 
 @ID_Cliente vARCHAR(5),
 @nombre varchar(50) out,
 @correo varchar(50) out,
 @telefono varchar(50) out
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @nombre = nombre, @correo = correo, @telefono = telefono 
		from Cliente where @ID_Cliente = ID_Cliente

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetClientes]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetClientes]
as begin 
select * from Cliente
end
GO
/****** Object:  StoredProcedure [dbo].[GetEmpleado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetEmpleado]
 @ID_Empleado varchar(5),
 @Usuario varchar(20) out,
 @nombre varchar(50) out,
 @correo varchar(50) out,
 @tipo_permisos varchar(20) out,
 @contraseña varchar(20) out
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @nombre = nombre, @correo = correo, @tipo_permisos = Tipo_Permiso,
		@contraseña = contraseña, @Usuario = Usuario
		from Empleado where @ID_Empleado = ID_Empleado

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetEstado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetEstado]
 @ID_Estado varchar(5),
 @Estado varchar(20) out 
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @Estado = Estado from Estado where @ID_Estado = ID_Estado

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetEstados]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[GetEstados] 
 as begin 
 select * from Estado
 end
GO
/****** Object:  StoredProcedure [dbo].[GetLote]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetLote]
 @ID_Lote varchar(5),
 @nombre varchar(50) ,
 @capacidad varchar(50) ,
 @lugar varchar(20) 

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @nombre = nombre, @capacidad = capacidad, @lugar = lugar
		from Lote where @ID_Lote = ID_Lote

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetLotes]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------
create proc [dbo].[GetLotes]
as begin
select * from Lote
end
GO
/****** Object:  StoredProcedure [dbo].[GetMercancia]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetMercancia]
 @ID_Mercancia varchar(5),
 @ID_Tipo varchar(5),
 @estado varchar(20),
 @observaciones varchar(50),
 @N_piezas int,
 @ID_Lote varchar(5),
 @reserva_In varchar(5),
 @reserva_Out varchar(5),
 @valor int,
 @moneda varchar(50)
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @ID_Tipo = ID_Tipo,				@estado = estado,
		@observaciones = observaciones, @N_piezas = N_Piezas,
		@ID_Lote = ID_Lote,				@reserva_In = RESERVA_IN, 
		@reserva_Out = reserva_Out,				@valor = valor,
		@moneda = moneda
		from Mercancia where @ID_Mercancia = ID_Mercancia

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetMercancias]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetMercancias] 
as begin 
select * from mercancia
end
GO
/****** Object:  StoredProcedure [dbo].[GetReserva]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetReserva]
 @ID_Reserva varchar(5),
 @ID_Mercancia varchar(5) ,
 @Tipo_Acta varchar(20) ,
 @ID_Cliente varchar(5),
 @ID_Empleado varchar(5),
 @Fecha date,
 @Placa varchar(20),
 @ID_Transportadora varchar(5),
 @N_piezas int ,
 @Nombre_Conductor varchar(50) ,
 @Cedula_Conductor varchar(50) ,
 @Documentos varchar(50),
 @Peso float ,
 @valor int,
 @ID_Embalaje int,
 @Etiquetas varchar(40) ,
 @Reg_Fotografico varchar(40) ,
 @ID_Estado varchar(5),
 @Observaciones varchar(255),
 @firma varchar(30) ,
 @Entrega_NOM varchar(50) ,
 @CC_Entrega varchar(50),
 @moneda varchar(50) 
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @ID_Mercancia = ID_Mercancia,			@Tipo_Acta = tipo_Acta, 
		@ID_Cliente = ID_Cliente,				@ID_Empleado = ID_Empleado,
		@Fecha = fecha,							@Placa = placa,
		@ID_Transportadora = ID_Transportadora, @N_piezas = N_Piezas,
		@Nombre_Conductor = Nombre_Conductor,   @Cedula_Conductor = cedula_Conductor,
		@Documentos = documentos,				@Peso = peso,
		@valor = valor,							@ID_Embalaje = ID_Embalaje,
		@Etiquetas = etiquetas,					@Reg_Fotografico = reg_Fotografico,
		@ID_Estado = ID_Estado,					@Observaciones = observaciones,
		@firma = firma,							@Entrega_NOM = Entrega_NOM,
		@CC_Entrega = cc_entrega,				@moneda = moneda
		from Reserva where @ID_Reserva = ID_Reserva

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetReservas]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetReservas]
as begin
select * from Reserva
end
GO
/****** Object:  StoredProcedure [dbo].[GetTipo]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetTipo]
 @ID_Tipo varchar(5),
 @Nombre varchar(50) 

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @Nombre = Nombre from Tipo where @ID_Tipo = ID_Tipo

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetTipos]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTipos]
as begin 
select * from Tipo
end
GO
/****** Object:  StoredProcedure [dbo].[GetTransportadora]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetTransportadora]
 @ID_Transportadora varchar(5),
 @Nombre varchar(50)

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @Nombre = Nombre from Transportadora where @ID_Transportadora = ID_Transportadora

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetTransportadoras]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[GetTransportadoras] 
 as begin
 select  * from Transportadora
 end
GO
/****** Object:  StoredProcedure [dbo].[InsertCliente]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCliente]
 (@ID_Cliente varchar(5),
 @nombre varchar(50),
 @correo varchar(50),
 @telefono varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

 select @ID_Cliente = ID_Cliente from Cliente where ID_Cliente = @ID_Cliente

 IF NOT EXISTS (select ID_Cliente from Cliente where ID_Cliente = @ID_Cliente )
	begin 
		
		insert into Cliente(ID_Cliente, nombre, correo, telefono) 
				values(@ID_Cliente, @nombre, @correo, @telefono);

	
		save transaction InsertComplited

	end
 ELSE

	begin 
	
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Cliente'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertEmpleado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertEmpleado]
 (@ID_Empleado varchar(5),
 @Usuario varchar(50),
 @nombre varchar(50),
 @correo varchar(50),
 @tipo_permisos varchar(20),
 @contraseña varchar(20))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  select ID_Empleado = ID_Empleado from Empleado where ID_Empleado = @ID_Empleado

 IF NOT EXISTS (select ID_Empleado from Empleado where ID_Empleado = @ID_Empleado)
	begin 
		insert into Empleado (ID_Empleado, nombre, correo, Tipo_Permiso, Usuario, contraseña)
				values (@ID_Empleado, @nombre, @correo, @tipo_permisos, @Usuario, @contraseña)

		
		save transaction InsertComplited
	end
ELSE
	BEGIN
		
		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla Empleado'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertEstado]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertEstado]
 (@ID_Estado VARCHAR(5),
 @estado varchar(50))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  select @ID_Estado = ID_Estado from Estado where ID_Estado = @ID_Estado

 IF NOT EXISTS(select  ID_Estado from Estado where ID_Estado = @ID_Estado )
	begin 
		insert into Estado(ID_Estado, estado)
				values (@ID_Estado, @estado)


	save transaction InsertComplited
	end
ELSE
	BEGIN

		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla ESTADO'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertLote]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[InsertLote]
 (@ID_Lote varchar(5),
 @nombre varchar(50),
 @capacidad varchar(50),
 @lugar varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY

  

 IF NOT EXISTS(select ID_Lote from Lote where ID_Lote = @ID_Lote) 
	begin 
		insert into Lote (ID_Lote, nombre, capacidad, lugar)
				values (@ID_Lote, @nombre, @capacidad, @lugar)

	
		save transaction InsertComplited
	end
ELSE
	BEGIN
	
		print 'El ID ya existe'
	END 

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error Al insertar en la tabla Empleado'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertMercancia]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMercancia]
 (@ID_Mercancia varchar(5),
 @ID_Tipo int,
 @estado varchar(20),
 @observaciones varchar(50),
 @N_Piezas int,
 @ID_Lote int,
 @ID_In int,
 @ID_Out int,
 @valor int,
 @moneda varchar(50))

 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF not exists ( select  ID_Mercancia from Mercancia where ID_Mercancia = @ID_Mercancia)
	begin 
		
		insert into Mercancia(ID_Mercancia, ID_Tipo, estado, observaciones,
							  N_Piezas, ID_Lote, RESERVA_In, RESERVA_OUT, valor, moneda) 
				values(@ID_Mercancia, @ID_Tipo, @estado, @observaciones,
						@N_Piezas, @ID_Lote, @ID_In, @ID_Out, @valor, @moneda);

		
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Mercancia'

 END CATCH

GO
/****** Object:  StoredProcedure [dbo].[InsertReserva]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertReserva]
( @ID_Reserva varchar(5),
 @ID_Mercancia varchar(5),
 @tipo_Acta varchar(20),
 @ID_Cliente varchAR(5),
 @ID_Empleado varchar(5),
 @fecha date,
 @placa varchar(20),
 @ID_Transportadora varchar(5),
 @N_Piezas int,
 @Nombre_Conductor varchar(50),
 @Cedula_Conductor varchar(50),
 @documentos varchar(50),
 @peso float,
 @valor int, 
 @ID_Embalaje int,
 @etiquetas varchar(40),
 @reg_Fotografico varchar(50),
 @ID_Estado varchar(5),
 @observaciones varchar(255),
 @firma varchar(30),
 @Entrega_NOM varchar(50),
 @cc_Entrega varchar(50),
 @moneda varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF NOT EXISTS ( select ID_Reserva from Reserva where ID_Reserva = @ID_Reserva)
	begin 
		
		insert into Reserva(ID_Reserva,ID_Mercancia, tipo_Acta, ID_Cliente,
							ID_Empleado, fecha, placa, ID_Transportadora, 
							N_Piezas, Nombre_Conductor, cedula_Conductor,
							documentos, peso, valor, ID_Embalaje, etiquetas,
							reg_Fotografico, ID_Estado, observaciones, firma,
							Entrega_NOM, cc_entrega, moneda) 
				values(@ID_Reserva, @ID_Mercancia, @tipo_Acta, @ID_Cliente,
							@ID_Empleado, @fecha, @placa, @ID_Transportadora, 
							@N_Piezas, @Nombre_Conductor, @Cedula_Conductor,
							@documentos, @peso, @valor, @ID_Embalaje, @etiquetas,
							@reg_Fotografico, @ID_Estado, @observaciones, @firma,
							@Entrega_NOM, @cc_Entrega, @moneda);

		
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla RESERVA'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertTipo]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTipo]
 (@ID_Tipo varchar(5),
 @Nombre varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 
 select @ID_Tipo = ID_Tipo from Tipo where ID_Tipo = @ID_Tipo

 IF NOT EXISTS (select ID_Tipo from Tipo where ID_Tipo = @ID_Tipo)
	begin 
		
		insert into Tipo(ID_Tipo, Nombre) 
					values(@ID_Tipo, @Nombre);

	
		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Mercancia'

 END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertTransportadora]    Script Date: 25/05/2019 11:04:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTransportadora]
 (@ID_Transportadora varchar(5),
 @Nombre varchar(50))
 AS 

 BEGIN TRANSACTION

 BEGIN TRY
 


 IF NOT EXISTS ( select  ID_Transportadora from Transportadora where @ID_Transportadora = ID_Transportadora)
	begin 
		
		insert into Transportadora(ID_Transportadora, Nombre) 
					values(@ID_Transportadora, @Nombre);


		save transaction InsertComplited

	end
 ELSE

	begin 
		
		print 'El ID ya existe'
	end

 COMMIT TRANSACTION

 END TRY

 BEGIN CATCH

 rollback transaction
 print 'ha ocurrido un error al insertar en la tabla Trasnportadora'

 END CATCH
GO
USE [master]
GO
