<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>
            org.apache.shiro.web.env.EnvironmentLoaderListener
        </listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
        <!-- no init-param means load the INI config from classpath:shiro.ini -->
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaMercanciaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.consultaMercanciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuAdminController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.menuAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>especificacionMercanciaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.especificacionMercanciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editorMercanciaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.editorMercanciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.actaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventarioHistoricoController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.inventarioHistoricoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventarioBodegaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.inventarioBodegaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificacionEntradaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.verificacionEntradaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creacionActaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.creacionActaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventarioBodegaOpeController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.inventarioBodegaOpeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificacionSalidaController</servlet-name>
        <servlet-class>app.champion.PRINCS.controlador.verificacionSalidaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuAdminController</servlet-name>
        <url-pattern>/menuAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaMercanciaController</servlet-name>
        <url-pattern>/consultaMercanciaController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>especificacionMercanciaController</servlet-name>
        <url-pattern>/especificacionMercanciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editorMercanciaController</servlet-name>
        <url-pattern>/editorMercanciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actaController</servlet-name>
        <url-pattern>/actaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventarioHistoricoController</servlet-name>
        <url-pattern>/inventarioHistoricoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventarioBodegaController</servlet-name>
        <url-pattern>/inventarioBodegaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificacionEntradaController</servlet-name>
        <url-pattern>/verificacionEntradaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creacionActaController</servlet-name>
        <url-pattern>/creacionActaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventarioBodegaOpeController</servlet-name>
        <url-pattern>/inventarioBodegaOpeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificacionSalidaController</servlet-name>
        <url-pattern>/verificacionSalidaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
